ProyectosOpenESB/Tienda_00/ServiciosVenta00/src/ServicioMensajeria/148.205.199.131_43800/MensajeriaExpress/EnvioPaquetesService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://mensajeria.webservice.adictosaltrabajo.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://mensajeria.webservice.adictosaltrabajo.com/">

<xs:element name="enviarProducto" type="tns:enviarProducto"/>

<xs:element name="enviarProductoResponse" type="tns:enviarProductoResponse"/>

<xs:complexType name="enviarProducto">
<xs:sequence>
<xs:element name="empresa" type="xs:string" minOccurs="0"/>
<xs:element name="idPedido" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enviarProductoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>