ProyectosOpenESB/Tienda_00/AplicacionTuLibroOnline/src/jbiServiceUnits/ServiciosVenta/ServicioAlmacen/localhost_8080/TiendaElectronica/AlmacenService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><xs:schema xmlns:tns="http://almacen.webservice.adictosaltrabajo.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://almacen.webservice.adictosaltrabajo.com/">

<xs:element name="comprobarStock" type="tns:comprobarStock"></xs:element>

<xs:element name="comprobarStockResponse" type="tns:comprobarStockResponse"></xs:element>

<xs:complexType name="comprobarStock">
<xs:sequence>
<xs:element name="ISBN" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="unidades" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="comprobarStockResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>