ProyectosOpenESB/Tienda_00/AplicacionTuLibroOnline/src/jbiServiceUnits/ServiciosVenta/ServicioPago/localhost_8080/PagoOnline/PasarelaPagoService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><xs:schema xmlns:tns="http://pasarelapago.webservice.adictosaltrabajo.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://pasarelapago.webservice.adictosaltrabajo.com/">

<xs:element name="facturar" type="tns:facturar"></xs:element>

<xs:element name="facturarResponse" type="tns:facturarResponse"></xs:element>

<xs:complexType name="facturar">
<xs:sequence>
<xs:element name="idCliente" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="cuantia" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="facturarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>